<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name ="viewport" content ="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, width=device-width">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1"/>
        <meta name="applicable-device" content="mobile"/>
        <meta http-equiv="Cache-Control" content="no-siteapp"/>
        <meta name="format-detection" content="telephone=no, email=no"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        <style type="text/css">
        html, body {
		    margin:0;
		    padding:0;
		    height: 100%;
		    color: #ffffff;
		    line-height: 34px;
		    font-size: 1.2em;
		}

		#div-error-page{
		    box-sizing:border-box;
		    background : #000000 url("../images/404.png") no-repeat bottom left;
		    background-size: 100% 100%;
		    min-height:100%;
		}

        </style>
    </head>
    <body  id="main" unselectable="on" onselectstart="return false;">
        <div id="div-error-page">
        </div>
    </body>
</html>