<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name ="viewport" content ="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, width=device-width">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1"/>
        <meta name="applicable-device" content="mobile"/>
        <meta http-equiv="Cache-Control" content="no-siteapp"/>
        <meta name="format-detection" content="telephone=no, email=no"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/share.css')}}">
        <title>{{resp.activeInfo.title}}</title>
    </head>
    <body  id="main" unselectable="on" onselectstart="return false;">
        <div id="div_share_page">
            <div class="div-share-desc">
                <div><b>亲，你确定看了情报？</b></div>
                <div><b>你当前游戏失败次数过多</b></div>
                <div><b>您需要更多的朋友帮助</b></div>
                <div><b>任务失败！</b></div>
            </div>
        </div>
    </body>
    <% if resp.weiXinSignInfo %>
        <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script>        
            wx.config({
                debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: "{{resp.weiXinSignInfo.appId}}", // 必填，公众号的唯一标识
                timestamp: "{{resp.weiXinSignInfo.timestamp}}", // 必填，生成签名的时间戳
                nonceStr: "{{resp.weiXinSignInfo.nonceStr}}", // 必填，生成签名的随机串
                signature: "{{resp.weiXinSignInfo.signature}}",// 必填，签名，见附录1
                jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage', 'onMenuShareQQ'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
            });

            wx.ready(function(){
                // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
            });
            wx.error(function(res){
                // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
            });

            wx.onMenuShareTimeline({
                title: '{{resp.userShareInfo.title}}', // 分享标题
                link: '{{resp.userShareInfo.shareUrl}}', // 分享链接
                imgUrl: '', // 分享图标
                success: function () {
                    afterShared();
                },
                cancel: function () { 
                    // 用户取消分享后执行的回调函数
                }
            });

            wx.onMenuShareAppMessage({
                title: '{{resp.userShareInfo.title}}', // 分享标题
                link: '{{resp.userShareInfo.shareUrl}}', // 分享链接
                imgUrl: '', // 分享图标
                desc: '{{resp.userShareInfo.content}}', // 分享描述
                type: 'link', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {
                    afterShared();
                },
                cancel: function () { 
                    // 用户取消分享后执行的回调函数
                }
            });

            wx.onMenuShareQQ({
                title: '{{resp.userShareInfo.title}}', // 分享标题
                link: '{{resp.userShareInfo.shareUrl}}', // 分享链接
                imgUrl: '', // 分享图标
                desc: '{{resp.userShareInfo.content}}', // 分享描述
                success: function () {
                    afterShared();
                },
                cancel: function () { 
                   // 用户取消分享后执行的回调函数
                }
            });


            function afterShared(){
                var shareCode = "{{resp.userShareInfo.shareCode}}";
                var activeId =  "{{resp.userShareInfo.activeId}}";
                var userId = "{{resp.userShareInfo.userId}}"
                var postUrl = "/game/user/shared/" + userId + "/" + shareCode + "/" + activeId;
                var posting = $.post(postUrl, {});
            };
        </script>
    <% endif %>
</html>