<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name ="viewport" content ="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, width=device-width">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1"/>
        <meta name="applicable-device" content="mobile"/>
        <meta http-equiv="Cache-Control" content="no-siteapp"/>
        <meta name="format-detection" content="telephone=no, email=no"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/prized.css')}}">
        <style type="text/css">
            .div-prizecode{
                background-color: #000000;
                border: 1px dashed red;
                width: 220px;
                margin: 0px auto;
                text-align: center;
                margin-top: 250px;
            }
            .div-prizedinfo-desc{
                margin-top: 20px;
                font-size: 16px;
                line-height: 30px;
                text-align: center;
                margin: 0px auto;
                font-weight: bold;
            }
            .div-prizedinfo-desc.head{
                padding-top: 15px;
            }
            .div-prized-bottom{
                margin-top: 20px;
                font-size: 16px;
                line-height: 30px;
                text-align: center;
                margin: 0px auto;  
                padding-top: 15px;                              
            }
        </style>
        <title>{{resp.activeInfo.title}}</title>
        
    </head>
    <body  id="main" unselectable="on" onselectstart="return false;">
        <div id="div-prized-page">
            <div class="div-prized-desc head">你把冠军</div>
            <div class="div-prized-desc">抢得连打车的都没有了，</div>
            <div class="div-prized-desc">授予你</div>
            <div class="div-prized-desc">”里约首席大佬“称号.</div>
            <div class="div-prizecode">兑奖码：{{resp['prizeInfo']['prizeCode']}}</div>
            <div class="div-prizedinfo-desc head">
                中奖信息会于{{resp['activeInfo']['prizeTime']|timestamp_strftime}}之后
            </div>
            <div class="div-prizedinfo-desc">
                在一刻talks官方微信公布
            </div>
            <div class="div-prizedinfo-desc">
                请保存你的兑奖码
            </div>
            <div class="div-prizedinfo-desc">
                到时前来兑奖
            </div>
            <div class="div-prized-bottom">
                （点击右上角，分享给更多好友来玩^.^）
            </div>
        </div>
    </body>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
            // alert("{{resp.weiXinSignInfo.appId}}");
            // alert("{{resp.weiXinSignInfo.timestamp}}");
            // alert("{{resp.weiXinSignInfo.nonceStr}}");
            // alert("{{resp.weiXinSignInfo.appId}}");
            wx.config({
                debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: "{{resp.weiXinSignInfo.appId}}", // 必填，公众号的唯一标识
                timestamp: "{{resp.weiXinSignInfo.timestamp}}", // 必填，生成签名的时间戳
                nonceStr: "{{resp.weiXinSignInfo.nonceStr}}", // 必填，生成签名的随机串
                signature: "{{resp.weiXinSignInfo.signature}}",// 必填，签名，见附录1
                jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage', 'onMenuShareQQ'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
            });

        wx.ready(function(){
            // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
        });
        wx.error(function(res){
            // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
            //alert(res);
            //str = JSON.stringify(res, null, 4); // (Optional) beautiful indented output
            //console.log(str); // Logs output to dev tools console.
            //alert(str); // Displays output using window.alert()
            // alert("{{resp.weiXinSignInfo.appId}}");
            // alert("{{resp.weiXinSignInfo.timestamp}}");
            // alert("{{resp.weiXinSignInfo.nonceStr}}");
            // alert("{{resp.weiXinSignInfo.signature}}");
            //alert(location.href.split('#')[0]);
        });

        wx.onMenuShareTimeline({
            title: '快来玩啊', // 分享标题
            link: '{{resp.shareUrl}}', // 分享链接
            imgUrl: 'http://ios.appchina.com/ios/mobile/images/logo_1606015.png', // 分享图标
            success: function () {
                afterShared();
            },
            cancel: function () { 
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareAppMessage({
            title: '快来玩啊', // 分享标题
            link: '{{resp.shareUrl}}', // 分享链接
            imgUrl: 'http://ios.appchina.com/ios/mobile/images/logo_1606015.png', // 分享图标
            desc: '我在这里给你分享个好玩的游戏，还可以拿奖', // 分享描述
            type: 'link', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                afterShared();
            },
            cancel: function () { 
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareQQ({
            title: '快来玩啊', // 分享标题
            link: '{{resp.shareUrl}}', // 分享链接
            imgUrl: 'http://ios.appchina.com/ios/mobile/images/logo_1606015.png', // 分享图标
            desc: '我在这里给你分享个好玩的游戏，还可以拿奖', // 分享描述
            imgUrl: 'http://ios.appchina.com/ios/mobile/images/logo_1606015.png', // 分享图标
            success: function () {
                afterShared();
            },
            cancel: function () { 
               // 用户取消分享后执行的回调函数
            }
        });


        function afterShared(){
            //alert("shared");
            //
            // $("#")
        };
    </script>
</html>