<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name ="viewport" content ="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, width=device-width">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1"/>
        <meta name="applicable-device" content="mobile"/>
        <meta http-equiv="Cache-Control" content="no-siteapp"/>
        <meta name="format-detection" content="telephone=no, email=no"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/share.css')}}">
        <title>{{resp.activeInfo.title}}</title>
    </head>
    <body  id="main" unselectable="on" onselectstart="return false;">
        <div id="div_share_page">
            <div class="div-share-desc">
                <div><b>亲，你确定看了情报？</b></div>
                <div><b>你刚刚抢到了</b></div>
                <div><b>里约首席警察官</b></div>
                <div><b>任务失败！</b></div>
            </div>

        {% if resp.shareCode %}
            <a href="{{ url_for('page.homepage', signWord = resp['activeInfo']['signWord'], shareCode = resp['shareCode'])}}">
        {% else %}
            <a href="{{ url_for('page.homepage', signWord = resp['activeInfo']['signWord'])}}">
        {% endif %}
                <div class="div-share-bottom-desc">
                    再看一次视频情报
                </div>
            </a>
        </div>
    </body>
</html>