<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name ="viewport" content ="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, width=device-width">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1"/>
        <meta name="applicable-device" content="mobile"/>
        <meta http-equiv="Cache-Control" content="no-siteapp"/>
        <meta name="format-detection" content="telephone=no, email=no"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css')}}"> -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/welcome.css')}}">
        <title>{{resp.activeInfo.title}}</title>
    </head>
    <body  id="main" unselectable="on" onselectstart="return false;">
        <div id="div-welcome-page">
            <!--老爷子 你最喜欢的中国队邹凯 已经到里约了 我们可以下手了  -->

            <div class="div-welcome-desc head">老爷子</div>
            <div class="div-welcome-desc">你最喜欢的中国队<span class="span-champion">{{resp.activeInfo.championName}}</span></div>
            <div class="div-welcome-desc">已经到里约了</div>
            <div class="div-welcome-desc">我们可以下手了</div>
            <div class="div-welcome-gohomepage">
            {% if resp.shareCode %}
                <a href="{{ url_for('page.homepage', signWord = resp['signWord'], shareCode = resp['shareCode'])}}">
            {% else %}
                <a href="{{ url_for('page.homepage', signWord = resp['signWord'])}}">
            {% endif %}
                    <img src="{{url_for('static', filename='images/start_play.png')}}">
                </a>
            </div>
        </div>
    </body>
</html>