/* CSS Document */
body, div, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, iframe, input, textarea, select, label, article, aside, footer, header, menu, nav, section, time, audio, video {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4{font-weight:normal;}
article, aside, footer, header, hgroup, nav, section, audio, canvas, video, img {
    display: block;
}
body {
    font-family: MicrosoftYaHei,微软雅黑,Helvetica,STHeiti,Droid Sans Fallback;
    font-size: 100%;
}
iframe, img {
    border: 0 none;
}
ul, ol {
    list-style: none outside none;
}
input, select, textarea {
    outline: 0 none;
}
a {
    text-align:center;
    text-decoration: none;
	color:inherit;
}

div.clear {
    clear: both;
}

div.hide {
    display: none;
}
html, body {
    margin:0;
    padding:0;
    height: 100%;
    color: #ffffff;
}

@media only screen and (min-device-width:240px)and (max-device-width :700px)and (orientation:landscape){.pop-holder{padding-top:20%!important}}
