#div-prized-page{
    box-sizing:border-box;
    background : #000000 url("../images/prized-bg.png") no-repeat bottom left;
    background-size: 100% 100%;
    min-height:100%;
}

.div-welldone-desc.head{
    padding-top: 120px !important;
}

.font-welldone-title{
    font-size: 1.6m !important;
    color: yellow;
}

.div-prized-desc{
    padding-left: 20%;
    font-style: italic;
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 2px;
}

.div-prized-desc div{
    margin-bottom: 0.16em;
}

.div-welldone-desc{
    color: #dddddd !important;
    padding-left: 20%;
    line-height: 30px;
    font-size: 1.2em;
    margin: 0px auto;
    font-weight: bold;
}

.span-prized-now{
    font-style: italic;
}

.div-prized-code{
    text-align: center;
    font-size: 50px;
    font-style: italic;
    margin-top: 110px;
}

.div-prizecode{
    background-color: #000000;
    border: 1px dashed red;
    width: 220px;
    height: 40px;
    line-height: 40px;
    margin: 0px auto;
    font-size: 16px;
    text-align: center;
    margin-top: 210px;
}
.div-prizedinfo-desc{
    font-size: 12px !important;
    color: #dddddd !important;
    line-height: 20px;
    text-align: center;
    margin: 0px auto;
    font-weight: bold;
}
.div-prizedinfo-desc.head{
    padding-top: 15px;
}
.div-prized-bottom{
    color: #dddddd !important;
    font-size: 10px !important;
    text-align: center;
    font-size: 10px;
    line-height: 30px;
    text-align: center;
    margin: 0px auto;
}
.div-prized-bottom img{
    display: inline-block;
    height: 20px;
}
.img-screencode{
    width: 130px;
    margin: 0px auto;
    padding-top: 10px;
}