html, body {
    margin:0;
    padding:0;
    height: 100%;
    color: #ffffff;
    font-family: MicrosoftYaHei,微软雅黑,Helvetica,STHeiti,Droid Sans Fallback;
}


.div-welcome-desc.head{    
    padding-top: 80px !important;
}

/*.span-champion{
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}*/
.div-welcome-desc{
    padding-left: 8%;
    font-size: 14px;
    font-style: oblique;
    font-weight: bold;
    height: 24px;
}

.div-welcome-desc div{
    margin-bottom: 0.16em;
}

.div-welcome-gohomepage{    
    width: 100%;
    position: fixed;
    text-align: center;
    bottom: 0px;
    height: 60px;
}

.div-welcome-gohomepage img{
    width: 60%;
}