@charset "utf-8";

body {
    font-family:Tahoma,Arial,Roboto,”Droid Sans”,”Helvetica Neue”,”Droid Sans Fallback”,”Heiti SC”;
    font-size: 100%;
    background-color: #fff;
    margin: 0;
	font-size: 1rem;	
	display: block;
	text-align: center;
	line-height: 34px;
	text-decoration: none;	
}
#poster{
	box-sizing:border-box;
	padding: 1%;
}
#poster img{
	width: 100%;
	height: 40%;
	text-align: center;
}
.m-ins {
	width: 273px;
	height: 54px;
	margin: 1.8rem auto;
	background: url(../images/start_play.png);
	background-size: 100%;
	font-size: 1rem;
	color: #fff;
	display: block;
	text-align: center;
	line-height: 54px;
	text-decoration: none;
}

.welcome_prize{
	margin: 1.8rem auto;
}


.screen_code img{
	width: auto !important; 
	visibility: visible !important; 
	height: auto !important;
	max-width: 100%!important;
}